In [1]:
from src.analysis.scraper import *

In [2]:
df = main(
    start_period = None, 
    end_period = "2023-05-31", 
    country = ["USD", "JPY", "BGN", "CZK", "DKK", "GBP", "HUF", "PLN", "RON", "SEK", "CHF", "ISK", "NOK", "HRK", 
               "RUB", "TRY", "AUD", "BRL", "CAD", "CNY", "HKD", "IDR", "ILS", "INR", "KRW", "MXN", "MYR", "NZD", "PHP", "SGD", "THB", "ZAR"]
)

  fetching data for country: USD...
  fetching data for country: JPY...
  fetching data for country: BGN...
  fetching data for country: CZK...
  fetching data for country: DKK...
  fetching data for country: GBP...
  fetching data for country: HUF...
  fetching data for country: PLN...
  fetching data for country: RON...
  fetching data for country: SEK...
  fetching data for country: CHF...
  fetching data for country: ISK...
  fetching data for country: NOK...
  fetching data for country: HRK...
  fetching data for country: RUB...
  fetching data for country: TRY...
  fetching data for country: AUD...
  fetching data for country: BRL...
  fetching data for country: CAD...
  fetching data for country: CNY...
  fetching data for country: HKD...
  fetching data for country: IDR...
  fetching data for country: ILS...
  fetching data for country: INR...
  fetching data for country: KRW...
  fetching data for country: MXN...
  fetching data for country: MYR...
  fetching data for country: NZD...
  fetching data for country: PHP...
  fetching data for country: SGD...
  fetching data for country: THB...
  fetching data for country: ZAR...

In [3]:
df

,ID,SOURCE,ORIGIN_CURRENCY,TARGET_CURRENCY,EXCHANGE_RATE,REPORT_DATE,MODIFIED_DATE
0,1,ECB,USD,EUR,1.06830,2023-05-31,2023-08-01
1,2,ECB,JPY,EUR,149.13000,2023-05-31,2023-08-01
2,3,ECB,BGN,EUR,1.95580,2023-05-31,2023-08-01
3,4,ECB,CZK,EUR,23.74100,2023-05-31,2023-08-01
4,5,ECB,DKK,EUR,7.44800,2023-05-31,2023-08-01
5,6,ECB,GBP,EUR,0.86405,2023-05-31,2023-08-01
6,7,ECB,HUF,EUR,370.85000,2023-05-31,2023-08-01
7,8,ECB,PLN,EUR,4.53680,2023-05-31,2023-08-01
8,9,ECB,RON,EUR,4.96950,2023-05-31,2023-08-01
9,10,ECB,SEK,EUR,11.62780,2023-05-31,2023-08-01
10,11,ECB,CHF,EUR,0.97240,2023-05-31,2023-08-01
11,12,ECB,ISK,EUR,149.70000,2023-05-31,2023-08-01
12,13,ECB,NOK,EUR,12.00450,2023-05-31,2023-08-01
13,14,ECB,HRK,EUR,7.53650,2022-12-30,2023-08-01
14,15,ECB,RUB,EUR,117.20100,2022-03-01,2023-08-01
15,16,ECB,TRY,EUR,22.13200,2023-05-31,2023-08-01
16,17,ECB,AUD,EUR,1.64970,2023-05-31,2023-08-01
17,18,ECB,BRL,EUR,5.42880,2023-05-31,2023-08-01
18,19,ECB,CAD,EUR,1.45820,2023-05-31,2023-08-01
19,20,ECB,CNY,EUR,7.59260,2023-05-31,2023-08-01
20,21,ECB,HKD,EUR,8.36960,2023-05-31,2023-08-01
21,22,ECB,IDR,EUR,16030.39000,2023-05-31,2023-08-01
22,23,ECB,ILS,EUR,3.97130,2023-05-31,2023-08-01
23,24,ECB,INR,EUR,88.34000,2023-05-31,2023-08-01
24,25,ECB,KRW,EUR,1416.29000,2023-05-31,2023-08-01
25,26,ECB,MXN,EUR,18.92630,2023-05-31,2023-08-01
26,27,ECB,MYR,EUR,4.93070,2023-05-31,2023-08-01
27,28,ECB,NZD,EUR,1.77930,2023-05-31,2023-08-01
28,29,ECB,PHP,EUR,60.05300,2023-05-31,2023-08-01
29,30,ECB,SGD,EUR,1.44670,2023-05-31,2023-08-01
30,31,ECB,THB,EUR,37.13400,2023-05-31,2023-08-01
31,32,ECB,ZAR,EUR,21.13530,2023-05-31,2023-08-01