In [1]:
from src.analysis.scraper import *

In [2]:
df = main(
    start_period = None, 
    end_period = "2023-05-31", 
    country = ["USD", "JPY", "BGN", "CZK", "DKK", "GBP", "HUF", "PLN", "RON", "SEK", "CHF", "ISK", "NOK", "HRK", 
               "RUB", "TRY", "AUD", "BRL", "CAD", "CNY", "HKD", "IDR", "ILS", "INR", "KRW", "MXN", "MYR", "NZD", "PHP", "SGD", "THB", "ZAR"]
)

  fetching data for country: USD...
  fetching data for country: JPY...
  fetching data for country: BGN...
  fetching data for country: CZK...
  fetching data for country: DKK...
  fetching data for country: GBP...

In [5]:
df

,ORIGIN_CURRENCY,TARGET_CURRENCY,REPORT_DATE,EXCHANGE_RATE,MODIFIED_DATE,SOURCE,ID
6313,USD,EUR,2023-05-31,1.06830,2023-08-01,ECB,1
6313,JPY,EUR,2023-05-31,149.13000,2023-08-01,ECB,2
5911,BGN,EUR,2023-05-31,1.95580,2023-08-01,ECB,3
6313,CZK,EUR,2023-05-31,23.74100,2023-08-01,ECB,4
6313,DKK,EUR,2023-05-31,7.44800,2023-08-01,ECB,5
6313,GBP,EUR,2023-05-31,0.86405,2023-08-01,ECB,6