In [1]:
import plotly.express as px

from src.analysis.scraper import *

In [2]:
df = main(
    start_period = None, 
    end_period = "2023-05-31", 
    country = ["USD", "JPY", "BGN", "CZK", "DKK", "GBP", "HUF", "PLN", "RON", "SEK", "CHF", "ISK", "NOK", "HRK", "RUB", "TRY", "AUD", 
    "BRL", "CAD", "CNY", "HKD", "IDR", "ILS", "INR", "KRW", "MXN", "MYR", "NZD", "PHP", "SGD", "THB", "ZAR"]
)

  fetching data for country: USD...
  fetching data for country: JPY...
  fetching data for country: BGN...
  fetching data for country: CZK...
  fetching data for country: DKK...
  fetching data for country: GBP...
  fetching data for country: HUF...
  fetching data for country: PLN...
  fetching data for country: RON...
  fetching data for country: SEK...
  fetching data for country: CHF...
  fetching data for country: ISK...
  fetching data for country: NOK...
  fetching data for country: HRK...
  fetching data for country: RUB...
  fetching data for country: TRY...
  fetching data for country: AUD...
  fetching data for country: BRL...
  fetching data for country: CAD...
  fetching data for country: CNY...
  fetching data for country: HKD...
  fetching data for country: IDR...
  fetching data for country: ILS...
  fetching data for country: INR...
  fetching data for country: KRW...
  fetching data for country: MXN...
  fetching data for country: MYR...
  fetching data for country: NZD...
  fetching data for country: PHP...
  fetching data for country: SGD...
  fetching data for country: THB...
  fetching data for country: ZAR...

In [3]:
df

   CURRENCY TIME_PERIOD    OBS_VALUE
0       USD  2023-05-31      1.06830
1       JPY  2023-05-31    149.13000
2       BGN  2023-05-31      1.95580
3       CZK  2023-05-31     23.74100
4       DKK  2023-05-31      7.44800
5       GBP  2023-05-31      0.86405
6       HUF  2023-05-31    370.85000
7       PLN  2023-05-31      4.53680
8       RON  2023-05-31      4.96950
9       SEK  2023-05-31     11.62780
10      CHF  2023-05-31      0.97240
11      ISK  2023-05-31    149.70000
12      NOK  2023-05-31     12.00450
13      HRK  2022-12-30      7.53650
14      RUB  2022-03-01    117.20100
15      TRY  2023-05-31     22.13200
16      AUD  2023-05-31      1.64970
17      BRL  2023-05-31      5.42880
18      CAD  2023-05-31      1.45820
19      CNY  2023-05-31      7.59260
20      HKD  2023-05-31      8.36960
21      IDR  2023-05-31  16030.39000
22      ILS  2023-05-31      3.97130
23      INR  2023-05-31     88.34000
24      KRW  2023-05-31   1416.29000
25      MXN  2023-05-31     18.92630
26      MYR  2023-05-31      4.93070
27      NZD  2023-05-31      1.77930
28      PHP  2023-05-31     60.05300
29      SGD  2023-05-31      1.44670
30      THB  2023-05-31     37.13400
31      ZAR  2023-05-31     21.13530